.igc-modal {
    font-size: inherit;
    font: inherit;
    font-weight: inherit;
    background-color: white;
    
    position: absolute;
    height: auto;
    overflow: initial;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1001;
    
    margin: 0 auto;

    display: none;
}
.igc-modal.igc-modal-visible {
    display: block;
}

.igc-modal .igc-modal-content {
    width: 100%;
}

.igc-modal .igc-modal-closebtn {
    color: #AAAAAA;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    text-decoration: none;
    margin-bottom: 0;
}

.igc-modal-overlay {
    opacity: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
    pointer-events: none;

    -webkit-transition: .4s opacity ease;
       -moz-transition: .4s opacity ease;
         -o-transition: .4s opacity ease;
            transition: .4s opacity ease;
}

.igc-modal-overlay.igc-modal-visible {
    opacity: 1;
    pointer-events: auto;
}