body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.igc-modal .igc-modal-inner {
    padding: 24px;
}

.igc-modal .igc-modal-cell .igc-modal-box {
    border-radius: 10px;
}

.igc-modal .igc-modal-closebtn {
    background: #00BCD4;
    width: 50px;
    height: 50px;
    top: -19px;
    right: -16px;
    color: #fff;
    border-radius: 12px;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
}

.igc-modal {
    background: rgba(0, 0, 0, .3);
}

.igc-modal.igc-modal-visible {
    background: rgba(0, 0, 0, .3);
    animation-name: fadeInFromNone;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.igc-modal.igc-modal-visible .igc-modal-box {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.2);
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeInFromNone {
    0% {
        background: rgba(0, 0, 0, 0);
    }
    100% {
        background: rgba(0, 0, 0, .3);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


/* TOP ALIGNMENT MODAL */

.igc-modal.top-alignment .igc-modal-content {
    min-height: auto;
}

.igc-modal.top-alignment .igc-modal-cell .igc-modal-box {
    margin: 8vh auto;
}


/* SCROLLABLE CONTENT */

.igc-modal.scrollable-content .igc-modal-inner > div {
    overflow: hidden;
}

.igc-modal.scrollable-content .igc-modal-inner .scrollable {
    overflow: auto;
    max-height: 50vh;
    margin-right: -18px;
}

@supports (overflow:-webkit-marquee) and (justify-content:inherit) 
{
    .igc-modal.scrollable-content .igc-modal-inner .scrollable {
    overflow: auto;
    max-height: 50vh;
    margin-right: 0;
}
}