.igc-modal {
    background: rgba(0,0,0,.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    display: none;
    font-size: inherit;
    font: inherit;
    font-weight: inherit;
    overflow-y: auto;
}

    .igc-modal.igc-modal-visible {
        display: block;
    }

    .igc-modal .igc-modal-content {
        min-width: 450px;
        max-width: 450px;
        display: table;
        min-height: 100%;
        margin: 0 auto;
    }

    .igc-modal .igc-modal-cell {
        display: table-cell;
        min-height: 100%;
        vertical-align: middle;
    }

        .igc-modal .igc-modal-cell .igc-modal-box {
            position: relative;
            background: #fff;
            min-height: 100%;
            margin: 5vh auto;
        }

    .igc-modal .igc-modal-closebtn {
        color: #AAAAAA;
        cursor: pointer;
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 1;
        position: absolute;
        top: 0;
        right: .6rem;
        text-decoration: none;
        margin-bottom: 0;
    }
